extends ./layouts/default.pug

block content

  //- CSS ANIMATION CANVAS DISPLAY
  .animation-canvas
    h1 Title Of The Animation Being Displayed
    a(id='github-link' href='#' target='_blank') View Source Code
    .display-area
      .back-lit-area Code Goes Here

    //- CODE GOES HERE

  //- CSS ANIMATION CANVAS DISPLAY
  .animation-canvas
    h1 Title Of The Animation Being Displayed
    a(id='github-link' href='#' target='_blank') View Source Code

    //- CODE GOES HERE

  //- CSS ANIMATION CANVAS DISPLAY
  .animation-canvas
    h1 Title Of The Animation Being Displayed
    a(id='github-link' href='#' target='_blank') View Source Code

    //- CODE GOES HERE
