- cardDisplay = errors ? 'card errors' : 'card hide '

#card-create(class=""+cardDisplay)

  .card-body
    h2 One Application. One Account.
    p Create an account for all of Acme's products. &nbsp;
      a(id="create-link-learn-more" href="#") Learn More
    p Already have an account? &nbsp;
      a(id="create-link-signin" href="#") Sign In

    //- FLASH MESSAGES
    .msgs(style="color:#FF0000;")
      .bckgrnd

      if(errors)
        each error in errors
          div= error.msg

    form(method="post" action="/register")

      .form-group
        label(for="createEmail") Email
        input(name="createEmail" type="email" class="form-control" placeholder="Email" )

      .form-group
        label(for="createPhone")  Phone (recommended)
        input(name="createPhone" type="text" class="form-control" placeholder="Phone")
        small Standard call, messaging or data rates may apply.

      .form-group
        label(for="createPassword") password
        input(name="createPassword" type="password" class="form-control" placeholder="Password")

      button(id="create-an-account" type="submit" class="btn btn-primary" disabled) Create Account


    small
      span By clicking Create Account, you agree to our &nbsp;
      a(id="license-agreement" href="#") License Agreement
      span &nbsp; and  &nbsp;
      a(id="privacy-statement" href="#") Privacy Statement.
