#card-create.card.hide

  .card-body
    h2 One Application. One Account.
    p Create an account for all of Acme's products. &nbsp;
      a(id="create-link-learn-more" href="#") Learn More
    p Already have an account? &nbsp;
      a(id="create-link-signin" href="#") Sign In

    form(method="post" action="/users/register")

      .form-group
        label(for="create-email") Email
        input(type="email" class="form-control" placeholder="email" name="create-email")

      .form-group
        label(for="create-phone")  Phone (recommended)
        input(type="text" class="form-control" placeholder="Username" name="create-phone")
        small Standard call, messaging or data rates may apply.

      .form-group
        label(for="create-password") password
        input(type="password" class="form-control" placeholder="password" name="create-password")

      button(id="create-an-account" type="submit" class="btn btn-primary") Create Account


    small
      span By clicking Create Account, you agree to our &nbsp;
      a(id="license-agreement" href="#") License Agreement
      span &nbsp; and  &nbsp;
      a(id="privacy-statement" href="#") Privacy Statement.
