footer

  .links
    a(id="legal" href="#") Legal
    a(id="privacy" href="#") Privacy
    a(id="security" href="#") Security

  small &copy; 2017 Acme, Inc. All rights reserved. Acme Applications is a registered trademark of Acme Inc.

  small Terms and conditions, features, support, pricing, and service options subject to change without notice.
