- cardDisplay = errors ? 'errors' : ''

#card-forgot(class="card hide "+cardDisplay)

  .card-body
    h2 Sign In Help?
    p One account. Everything Intuit. Your Intuit account can access all of our products including Mint. &nbsp;
    p Already have an account? &nbsp;
      a(id="link-forgot-signin" href="#") Sign In

    form(method="post" action="/login")
      .form-group
        label(for="forgot-username") Phone number, email or user ID
        input(type="email" name="forgot-username" id="forgot-username" class="form-control" placeholder="Username")

      a(id="btn-forgot-continue" class="btn btn-primary")
        i(class="fa fa-lock" aria-hidden="true") &nbsp;
        span Continue

      a(id="btn-forgot-cancel" class="btn btn-primary cancel-btn")
        i(class="fa fa-lock" aria-hidden="true") &nbsp;
        span Cancel

    small
      span Invisible reCAPTCHA by Google &nbsp;
      a(id="link-forgot-license-agreement" href="#") Terms of Use
      span &nbsp; and  &nbsp;
      a(id="link-forgot-privacy-statement" href="#") Privacy Statement.
