extends ./layouts/default.pug

block content

  .container

    #auth-alpha

      //- BRAND IMAGE
      //- Expects string or image.
      .brand-container Acme Inc.

      //- ACCOUNT SIGN IN CARD
      //- Default visible element
      include ./partials/auth-alpha/sign-in.pug

      //- ACCOUNT REGISTER
      //- Register an account with the application.
      include ./partials/auth-alpha/create-account.pug

      //- FORGOT PASSWORD
      //- Forgot password form.
      include ./partials/auth-alpha/forgot.pug

      //- FOOTER
      //- This shows for all.
      include ./partials/auth-alpha/footer.pug
