
.nfxn-row {
  background-color: #f0fcff;
  display: flex;
  margin: 5px 0;
  padding: 5px 0;
}
.nfxn-widget {
  background-color: rgba(143, 255, 204, 0.35);

  .nfxn-content {
    position: relative;
  }

  input {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 0;
    transition: all 2s linear 1ms;
    text-align: left;
    height: 50px;
    text-transform: uppercase;
  }
  input:focus {
    box-shadow: none;
  }

  #exchange-rate-display {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 40px;
    background-color: transparent;
    line-height: 1;

    ul {
      display: flex;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;

      li {
        color: #B0B0B0;
        flex: 1;
      }
      .pip {
        color: #EE8700;
      }
      .pipette {
        color: #B37B7B;
        font-size: 30px;
      }
    }
  }
}
