#auth-alpha {
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  transition-property: opacity;
  transform: translateY(0px);
  max-width: 380px;
  margin: 0 auto;

  .hide {
    transform: rotateY(180deg);
  }
  
  small {
    a {
      font-size: 80%;
    }
  }

  .brand-container {
    font-size: 48px;
    font-weight: 400;
    color: #9a9a9a;
    margin: 5px 0 630px;
    padding: 5px 0;

    .msgs {
      position: relative;
      padding: 20px 0;
      text-align: left;

      .span {
        position: relative;
        z-index: 1;
      }
      .bckgrnd {
        background-color: rgba(128, 0, 0, 0.3);
        left: -30px;
        height: 100%;
        position: absolute;
        top: 0;
        width: 120%;
        z-index: 0;
      }
    }

  }

  .card {
    box-shadow: 0px 2px 4px 0px rgba(153, 153, 153, 0.25);
    margin: 0 auto;
    max-width: 380px;
    position: absolute;
    left: 0px;
    backface-visibility: hidden;
    transition: 400ms ease-out;
    transition-property: transform, top;
    top: 100px;

    .card-body {
      padding: 40px 25px;

      h2 {
        font-size: 24px;
        font-weight: 400;
      }
    }

    form {
      text-align: left;
      .form-check {
        margin: 25px 0;
      }
      label {
        font-size: 14px;
        font-weight: 400;
      }
      .btn {
        color: #FFF;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 400;
        background-color: #0077C5;
        border: 1px solid #005994;
        cursor: pointer;
        margin-bottom: 25px;

        &:hover {
          background-color: rgba(0, 119, 197, 0.71);
        }
      }
      .cancel-btn {
        background-color: transparent;
        border: 1px solid rgba(165, 165, 165, 0.2);
        color: #a5a5a5;

        &:hover {
          background-color: rgba(239, 239, 239, 0.71);
        }
      }
    }
  }

  footer {
    margin-bottom: 20px;

    .links {
      text-align: center;
      align-items: center;
      flex-direction: row;
      display: flex;
      margin: 20px;

      a {
        flex: 1;
      }
    }
  }
}
